<footer class="footer">
    <div class="footer-content">
      <h3>Mock Market</h3>
      <p>Your one-stop shop for all your needs.</p>

      <div class="services">
        <h4>Our Services</h4>
        <div class="footer-service-container">
          <div>
            <i class="fa-solid fa-truck-fast"></i>
            <p>Express Shipping</p>
          </div>
          <div class="small-screen-remove">
            <i class="fa-solid fa-clock"></i>
            <p>24/7 Customer Support</p>
          </div>
          <div>
            <i class="fa-solid fa-rotate-left"></i>
            <p>7-Day Guarantee for Return</p>
          </div>
          <div>
            <i class="fa-solid fa-medal"></i>
            <p>Guarantee of Originality</p>
          </div>
          <div class="small-screen-remove">
            <i class="fa-solid fa-money-bill"></i>
            <p>Pay in Person Upon Delivery</p>
          </div>
        </div>
      </div>
    </div>


    <div class="footer-bottom">
      <p>&copy; 2025 Mock Market. All Rights Reserved.</p>
    </div>
  </footer>