.loading-panel {
    height: 600px;
    background-color: white;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 9999;
    pointer-events: none; 
  }
.loading-panel p{
    margin-top: 20px;
}

.loader {
    width: 255px;
    height: 75px;
    --g1:conic-gradient(from  90deg at left   10px top   3px,#0000 90deg,#000 0);
    --g2:conic-gradient(from -90deg at bottom 10px right 3px,#0000 90deg,#000 0);
    background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
    background-position: left,center,right;
    background-repeat: no-repeat;
    animation: l8 1s infinite;
  }
  @keyframes l8 {
    0%   {background-size:75px 100%,75px 100%,75px 100%}
    20%  {background-size:75px 50% ,75px 100%,75px 100%}
    40%  {background-size:75px 50% ,75px 50% ,75px 100%}
    60%  {background-size:75px 100%,75px 50% ,75px 50% }
    80%  {background-size:75px 100%,75px 100%,75px 50% }
    100% {background-size:75px 100%,75px 100%,75px 100%}
  }