.sidebar {
    width: 290px;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
  }
  
  .category-title {
    background: linear-gradient(to bottom, #f4f4f4, #33c1ff);
    font-size: 12px;
    font-weight: 100;
    font-style: italic;
    color: #1c3d5a;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px #ddd solid;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
  }
  
  .filter-section {
    margin-top: 20px;
  }
  
  .filter {
    padding: 10px 0px;
    margin-bottom: 15px;
    border-bottom: #ddd 1px solid;
    border-top: #ddd 1px solid;
  }
  .brands > h3 {
    margin-bottom: 15px;
  }
  .brands > div p {
    margin-bottom: 8px;
  }