
<div class="vetrina">
    <div class="vetrina-item" [routerLink]="['/products']" [queryParams]="{ subcategory: 4 }">
      <i
        class="fa-solid fa-gamepad vetrina-icon"
        style="background-color: cyan"
      ></i>
      <p>Video Game Consoles</p>
    </div>
    <div class="vetrina-item" [routerLink]="['/products']" [queryParams]="{ subcategory: 3 }">
      <i
        class="fa-solid fa-headphones vetrina-icon"
        style="background-color: darkslategray"
      ></i>
      <p>Headphones & Earbuds</p>
    </div>
    <div class="vetrina-item" [routerLink]="['/products']" [queryParams]="{ subcategory: 6 }">
      <i
        class="fa-solid fa-kitchen-set vetrina-icon"
        style="background-color: red"
      ></i>
      <p>Kitchen Appliances</p>
    </div>
    <div class="vetrina-item" [routerLink]="['/products']" [queryParams]="{ subcategory: 1 }">
      <i
        class="fa-solid fa-mobile-screen vetrina-icon"
        style="background-color: goldenrod"
      ></i>
      <p>Mobile Phones</p>
    </div>
    <div class="vetrina-item" [routerLink]="['/products']" [queryParams]="{ subcategory: 9 }">
      <i
        class="fa-solid fa-socks vetrina-icon"
        style="background-color: grey"
      ></i>
      <p>Footwear</p>
    </div>
    <div class="vetrina-item" [routerLink]="['/products']" [queryParams]="{ subcategory: 7 }">
      <i
        class="fa-regular fa-gem vetrina-icon"
        style="background-color: purple"
      ></i>
      <p>Jewelry & Watches</p>
    </div>
    <div class="vetrina-item" [routerLink]="['/products']" [queryParams]="{ subcategory: 11 }">
      <i
        class="fa-solid fa-dumbbell vetrina-icon"
        style="background-color: burlywood"
      ></i>
      <p>Fitness Equipment</p>
    </div>
    <div class="vetrina-item" [routerLink]="['/products']" [queryParams]="{ subcategory: 5 }">
      <i
        class="fa-solid fa-couch vetrina-icon"
        style="background-color: green"
      ></i>
      <p>Furniture</p>
    </div>
    <div class="vetrina-item" [routerLink]="['/products']" [queryParams]="{ subcategory: 8 }">
      <i
        class="fa-solid fa-glasses vetrina-icon"
        style="background-color: black"
      ></i>
      <p>Sunglasses & Accessories</p>
    </div>
    <div class="vetrina-item" [routerLink]="['/products']" [queryParams]="{ subcategory: 10 }">
      <i
        class="fa-solid fa-paintbrush vetrina-icon"
        style="background-color: hotpink"
      ></i>
      <p>Makeup & Cosmetics</p>
    </div>
    <!-- <i class="fa-regular fa-gem"></i> -->
  </div>